html {
    font-size: 10px;
    background-color: black;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    display:flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    justify-content: space-around;
}

footer{
    color: white;
    text-align: center;
}

.title{
    color: white;
    font-size: 50px;
    text-align: center;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button{
    padding: 0;
    font-size: 25px;
}

.result, .currentScore{
    font-size: 35px;
    color: grey;
    text-align: center;
}

.completedGame{
    height:100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.announcement{
    font-size: 50px;
    color: grey;
}

img{
    padding: 0;
    width: 200px;
    height: 200px;
}

.playAgain{
    padding: 50px;
}